
nav{
    background-color: rgb(255, 217, 0);
}
.container{
    height: 200vh;
    width: 100vw;
    background-color: rgb(34, 33, 33);
}
.header{
    height: 10rem;
    background-color: rgb(163, 185, 199);
    padding: 20px;
    text-align: center;
    z-index: 99999;
}
table{
    z-index: 9;
}
.box1{
    height: 50rem;
    width: 17rem;
    background-color: rgba(236, 100, 10, 0.907);
    margin-left: 0px;
    margin-top: 0px;
}
.box2{
    height: 50rem;
    width: 45rem;
    background-color: #cc8c5b;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

img{
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0px;

}
.image{
    height: 10rem;
    padding: 0px;
    background-color: #846246;
}